<main class='container mx-auto flex flex-col items-center'>
  <div class='relative w-full max-w-2xl h-full md:h-auto'>
    <div class='relative bg-white rounded-lg shadow dark:bg-gray-700'>
      <div
        class='flex justify-between items-start p-4 rounded-t border-b dark:border-gray-600'
      >
        <h3 class='text-xl font-semibold text-gray-900 dark:text-white'>
          Edit Post
        </h3>
      </div>
      <div class='relative bg-white dark:bg-gray-700'>
        <form class='p-4'>
          <div class='mb-6'>
            <label
              for='title'
              class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
            >
              Title
            </label>
            <input
              type='input'
              id='title'
              class='bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              required
              value='{{post.title}}'
            />
          </div>
          <div class='mb-6'>
            <label
              for='content'
              class='block mb-2 text-sm font-medium text-gray-900 dark:text-white'
            >
              Content
            </label>
            <textarea
              id='content'
              rows='4'
              class='block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              required
            >{{post.content}}</textarea>
          </div>
        </form>
      </div>
      <div
        class='flex items-center p-6 space-x-2 rounded-b border-t border-gray-200 dark:border-gray-600'
      >
        <button
          id='updatePostBtn'
          type='button'
          class='text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800'
          data-post-id='{{post.id}}'
        >
          Update
        </button>
        <button
          id='deletePostBtn'
          type='button'
          class='text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-white focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600'
          data-post-id='{{post.id}}'
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</main>
<script src='/js/updatePost.js'></script>